[Unit]
Description=rapidkrill
After=multi-user.target

[Service]
Type=idle
ExecStart=/home/pi/src/rapidkrill/routines/rapidkrill/rk.sh

[Install]
WantedBy=multi-user.target